<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1> Welcome to the Nested Forms Lab!</h1>
        <form action="/new" method = "GET">
            <input type= "Submit" value="Submit"/>
        </form>
    </body>
<html>