<!DOCTYPE html>
<html>
<head>
	<title>Pirates Form</title>
</head>
<body>
	<h1>Welcome to the Nested Forms Lab!</h1>
	<p>let's navigate to the '/new'</p>
	<a href="/new">Make a new pirate!</a>
	
</body>
</html>
