<!DOCTYPE html>
<html>
  <head>
    <title>Pirates and Ships</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>
    <form method="get" action="/new" >
      <h1>Welcome to the Nested Forms Lab!</h1>
        <p>Click the 'submit' below below if you would like to create your own pirate:</p>
        <p>let's navigate to the '/new'</p>
      <input type="submit">
    </form>
  </body>
</html>
