<!DOCTYPE html>

<html>
  <head>
    <title>Pirates!</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1><br><br>
    <a href="new">let's navigate to the '/new'</a>

  </body>

</html>