<!DOCTYPE html>
<html>
<head>
  <title>Avast! Behold Pirates</title>
</head>
<body>
<h1>Look At All These Motherfucking Pirates(names)</h1>
    <% @pirates.each do |pirate| %>
  <h2><%= pirate.name %></h2>
    <% end %>
</body>
</html>