<h1>Avast Matey</h1>
<br>
<p>Have you ever cried yourself because you could not sail the seven seas? Spiralled into a depression because no one can honestly call you a salty-sea-dog?? Well look no further! Using this marvelous web app, you can create your pirate dream squad. Despair no longer chum!</p>

<br>
<a href="/new">Ahoy Matey, let's navigate to the '/new'</a>



<p>"Welcome to the Nested Forms Lab!"</p>