<h1>Pirates!</h1>
<p>arrrrrgh</p>

<% @pirates.each do |pirate| %>
    <li>Name: <b><%= pirate.name %></b></li>
    <li>Weight: <%= pirate.weight %></li>
    <li>Height: <%= pirate.height %></li>
<% end %>

