<!DOCTYPE html>
<html>
  <head>
    <title>Pirates and Ship creator</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <p>let's navigate to the '/new'</p>
    <a href="new">Create a new pirate and ship</a>

  </body>
</html>