<!Doctype html>
<html>
<header>Build Your Own Booty!</header>

<body>
  <h1> Welcome to the Nested Forms Lab! let's navigate to the <a href = 'pirates/new.erb'>New Pirate's Ship</a><h1>
  </body>

  </html>
