<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nested Forms Lab</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <h1>let's navigate to the '/new'</h1>
    <a href="http://138.197.214.116:30003/new">Navigate</a>
  </body>
</html>
