<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pirates</title>
</head>
<body>

<h1>Pirates!</h1>
<p>arrrrrrrrrrrgh</p>

<ul>
<% @pirates.each do |pirate| %>
  <li><%= pirate.name %></li>
  <li><%= pirate.weight %></li>
  <li><%= pirate.height %></li>
<% end %>
</ul>
</body>
</html>