<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to the Nested Forms Lab!</title>
</head>
  <body>
    <h2>let's navigate to the '/new'</h2>
    <a href="new">Click Here To Go To /new </a>
  </body>

</html>
