<!DOCTYPE html>
<html>
  <head>
    <title>PIRATES AND SHIPS</title>
    <link rel="public/stylesheets" type="text/css" href="bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
