<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirate Form</title>
  </head>
  <body>
    <h1>Pirates!</h1>
    <form action="/pirates" method="post">
      <h2>Pirate Information</h2>
      <label for="pirate[name]">Pirate Name:</label>
      <input type="text" name="pirate[name]"> </br>

      <label for="pirate[weight]">Pirate Weight:</label>
      <input type="text" name="pirate[weight]"> </br>

      <label for="pirate[height]">Pirate Height:</label>
      <input type="text" name="pirate[height]"> </br> </br>

    <h2>Ship 1 Information</h2>
    <label for="pirate[ships][][name]">Name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1">
    <label for="pirate[ships][][category]">Category:</label>
    <input type="text" name="pirate[ships][][category]" id="ship_type_1">
    <label for="pirate[ships][][booty]">Booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></br> </br>

    <h2>Ship 2 Information</h2>
    <label for="pirate[ships][][name]">Name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2">
    <label for="pirate[ships][][category]">Category:</label>
    <input type="text" name="pirate[ships][][category]" id="ship_type_2">
    <label for="pirate[ships][][booty]">Booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"> </br> </br>

    <input type="submit" id="Submit">
    </form>
  </body>
</html>