<h1>Create Your Pirate</h1>
<form action="/pirates" method="post">
  <h2>Pirate</h2>
  <label for="pirate_name">Name</label>
  <input id="pirate_name" type="text" name="pirate[name]">
  <label for="pirate_weigh">Weight</label>
  <input id="pirate_weigh" type="text" name="pirate[weight]">
  <label for="pirate_height">Height</label>
  <input id="pirate_height" type="text" name="pirate[height]">

  <h3>Ship(s)</h3>
  <label for="ship_name_1">Name</label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  <label for="ship_type_1">Type</label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  <label for="ship_booty_1">Booty</label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br>
  <label for="ship_name_2">Name</label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  <label for="ship_type_2">Type</label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  <label for="ship_booty_2">Booty</label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  <br><input type="submit" name="submit" id="Submit">
</form>
