<h1>Form</h1>
  <form method="POST" action="/pirates">
      <label for="pirate_name">Pirate Name</label>
      <input type="text" id="pirate_name" name="pirate[name]">
      <br><br>
      <label for="pirate_weight">Pirate Weight</label>
      <input type="text" id="pirate_weight" name="pirate[weight]">
      <br><br>
      <label for="pirate_height">Pirate Height</label>
      <input type="text" id="pirate_height" name="pirate[height]">
      <br><br>
      <label for="ship_name_1">Ship1 Name:</label>
      <input type="text" id="ship_name_1" name="pirate[ships][][name]">
      <br><br>
      <label for="ship_type_1">Ship1 Type:</label>
      <input type="text" id="ship_type_1" name="pirate[ships][][type]">
      <br><br>
      <label for="ship_booty_1">Ship1 Booty:</label>
      <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
      <br><br>
      <label for="ship_name_2">Ship2 Name:</label>
      <input type="text" id="ship_name_2" name="pirate[ships][][name]">
      <br><br>
      <label for="ship_type_2">Ship2 Type:</label>
      <input type="text" id="ship_type_2" name="pirate[ships][][type]">
      <br><br>
      <label for="ship_booty_2">Ship2 Booty:</label>
      <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
      <br><br>
      <input type="submit" value="Submit">
    </form>
