<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>Pirates and Their Ships</title>
<h1>Welcome to the Pirate Lab, Mate</h1>
<a href="new">Click Here to Find a Pirate</a>
</head>

<body>
    <p>

<form method="post" action= "/new">
  <label for="name">
    <input type=

  <label for="weight"
    <input type=

  <label for="height"
    <input type=

</body>
