<h1>Make your form here</h1>
<h2>Wat</h2>
<form action="/pirates" method="POST">

  <label for="POST-name">Pirate's Name:</label>
  <input id="POST-name" type="text" name="pirate[name]">

  <label for="POST-weight">Pirate's Weight:</label>
  <input id="POST-weight" type="text" name="pirate[weight]">

  <label for="POST-height">Pirate's Height:</label>
  <input id="POST-height" type="text" name="pirate[height]">

  <br/>

  <label for="POST-ship_name_1">Ship 1 Name:</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]">

  <label for="POST-ship_type_1">Ship 1 Type:</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]">

  <label for="POST-ship_booty_1">Ship 1 Booty:</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <br/>

  <label for="POST-ship_name_2">Ship 2 Name:</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]">

  <label for="POST-ship_type_2">Ship 2 Type:</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]">

  <label for="POST-ship_booty_2">Ship 2 Booty:</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">

  <button type="submit" value="submit">Submit</button>
</form>
