<form action="/pirates" method="post">
  <h2>Pirate</h2>
  Name: <input id="pirate[name]" type="text" name="pirate[name]"/>
  Weight: <input id="pirate[weight]" type="text" name="pirate[weight]"/>
  Height: <input id="pirate[height]" type="text" name="pirate[height]"/>
  
  <h2>Ship 1</h2>
  Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"/>
  Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"/>
  Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"/>
  
  <h2>Ship 2</h2>
  Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"/>
  Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"/>
  Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"/>
  
  <button type="submit" value="submit">Submit</button>
</form>


