<h1>Make your form here</h1>

<form action="/pirates" method="post">
  Pirate's Name: <input type="text" name="pirate[name]">
  Pirate's Weight: <input type="text" name="pirate[weight]">
  Pirate's Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  Ship Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  Ship Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  Ship Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  Ship Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" id="Submit">
</form>
