<h1>
  <form method="POST" action="/pirates">
    <p>Pirate Name: <input type="text" name="pirate[name]"></p>
    <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
    <p>Pirate Height: <input type="text" name="pirate[height]"></p>
    <p>First Pirate Ship Name: <input type="text" name="pirate[ships][][name]"></p>
    <p>First Pirate Ship Type: <input type="text" name="pirate[ships][][type]"></p>
    <p>First Pirate Ship Type: <input type="text" name="pirate[ships][][booty]"></p>
    <p>Second Pirate Ship Name: <input type="text" name="pirate[ships][][name]"></p>
    <p>Second Pirate Ship Type: <input type="text" name="pirate[ships][][type]"></p>
    <p>Second Pirate Ship Type: <input type="text" name="pirate[ships][][booty]"></p>
    <input type="submit">
  </form>
</h1>
