<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New </title>
  </head>
 
  <body>
    <label>make pirates</label>
    <form method="POST" action="/pirate">
      <p>Pirate Name: <input type="text" name="pirate[name]"></p>
      <p>Pirate Wieght: <input type="text" name="pirate[weight]"></p>
      <p>Pirate height: <input type="text" name="pirate[height]"></p>
      
      <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
      <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
      <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>

      <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
      <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
      <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>

      <input type="submit" value="submit">
    </form>

  </body>
</html>