<h1>Make your form here</h1>
fill_in("pirate[name]", :with => "Captain Jack Sparrow")
fill_in("pirate[weight]", :with => "190 lbs")
fill_in("pirate[height]", :with => "5 feet 11 inches")
fill_in("ship_name_1", :with => "Flying Dutchman")
fill_in("ship_type_1", :with => "ghost ship")
fill_in("ship_booty_1", :with => "gold coins")
fill_in("ship_name_2", :with => "Black Pearl")
fill_in("ship_type_2", :with => "merchant vessel")
fill_in("ship_booty_2",
