<form action="/pirates" method="post">
  <p>Pirate Name: <input type="text" name="pirate[name]"></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
  <p>Pirate Height: <input type="text" name="pirate[height]"></p>
  <p>Ship Name 1: <input type="text" name="ship_name_1"></p>
  <p>Ship Type 1: <input type="text" name="ship_type_1"></p>
  <p>Ship Booty 1: <input type="text" name="ship_booty_1"></p>
  <p>Ship Name 2: <input type="text" name="ship_name_2"></p>
  <p>Ship Type 2: <input type="text" name="ship_type_2"></p>
  <p>Ship Booty 2: <input type="text" name="ship_booty_2"></p>
  <!-- <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p> -->
  <button type="submit">Submit</button>
</form>
