<h1>New Pirate & Ship Info</h1>

<form action="/pirates" method="POST">
  <p>
    <label for="pirate_name">Pirate Name:    </label>
    <input id="pirate_name" type="text" name="pirate[name]"><br>
    <label for="pirate_weight">Pirate Weight:</label>
    <input id="pirate_weight" type="text" name="pirate[weight]"><br>
    <label for="pirate_height">Pirate Height:    </label>
    <input id="pirate_height" type="text" name="pirate[height]"><br><br>
  </p>

  <p>
    <label for="ship_name_1">1st Ship Name:</label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br>
    <label for="ship_type_1">1st Ship Type:    </label>
    <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br>
    <label for="ship_booty_1">1st Ship Booty:</label>
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br><br>
  </p>

  <p>
    <label for="ship_name_2">2nd Ship Name:</label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br>
    <label for="ship_type_2">2nd Ship Type:    </label>
    <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br>
    <label for="ship_booty_2">2nd Ship Booty:</label>
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br><br>
  </p>

  <p>
    <input type="submit" value="Submit">
  </p>

</form>
