<html>
<head>
  <meta charset="UTF-8">
  <title>Avast ye mateys!</title>
</head>
<body>
  <form action="/pirates" method="post">
    <h1>Pirate Rollcall</h1>
    <p>What be yer pirate name: <input type="text" name="pirate[name]"></p>
    <p>Weight: <input type="text" name="pirate[weight]"></p>
    <p>Height: <input type="text" name="pirate[height]"></p>
    <h2>Tell us about ye ships</h2>
    <p>What be yer ship's name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
    <p>What be yer ship's type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
    <p>What be yer ship's booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
    <p>What be yer other ship's name (you have two right?!): <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
    <p>What be yer other ship's type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
    <p>What be yer other ship's booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>
