<form method='post' action='/pirates'>

  <label for="pirate_name">Pirate name:<input id="pirate_name" type="text" name="pirate[name]"></p>
  <label for="pirate_weight">Pirate weight:<input id="pirate_weight"type="text" name="pirate[weight]"></p>
  <label for="pirate_height">Pirate height:<input id="pirate_height" type="text" name="pirate[height]"></p>

  <label for="ship_name_1">Pirate Ship's Name:<input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
  <label for="ship_type_1">Pirate Ship's Type:<input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
  <label for="ship_booty_1">Pirate Ship's Booty:<input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>

  <label for="ship_name_2">Pirate Ship's Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
  <label for="ship_type_2">Pirate Ship's Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
  <label for="ship_booty_2">Pirate Ship's Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>

  <input type='submit' value="Submit">
</form>
