<h1>Make a new pirate</h1>
<form method="post" action="/pirates">
  <p>
    <label for="pirate_name">Pirate's Name: </label>
    <input type="text" name="pirate[name]" id="pirate_name">
  </p>
  <p>
    <label for="pirate_weight">Pirate's Weight: </label>
    <input type="text" name="pirate[weight]" id="pirate_weight">
  </p>
  <p>
    <label for="pirate_height">Pirate's Height: </label>
    <input type="text" name="pirate[height]">
  </p>
  <h3>First Ship:</h3>
  <p>
    <label for="ship_name_1">Ship's Name: </label>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  </p>
  <p>
    <label for="ship_type_1">Ship's Type: </label>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  </p>
  <p>
    <label for="ship_booty_1">Ship's Booty: </label>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  </p>
  <h3>Second Ship:</h3>
  <p>
    <label for="ship_name_2">Ship's Name: </label>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  </p>
  <p>
    <label for="ship_type_2">Ship's Type: </label>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  </p>
  <p>
    <label for="ship_booty_2">Ship's Booty: </label>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  </p>
  <input type="submit" id="Submit">
</form>
