<h1>Make your form here</h1>

<form action="/pirates" method="post">
  <label>Pirate Name: </label><input type="text" name="pirate[name]" id="pirate_name"><br>
  <label>Pirate Weight: </label><input type="text" name="pirate[weight]" id="pirate_weight"><br>
  <label>Pirate Height: </label><input type="text" name="pirate[height]" id="pirate_height"><br><br>

  <label>Ship No. 1 Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_1"><br>
  <label>Ship No. 1 Type: </label><input type="text" name="pirate[ships][][category]" id="ship_category_1"><br>
  <label>Ship No. 1 Booty: </label><input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br><br>

  <label>Ship No. 2 Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_2"><br>
  <label>Ship No. 2 Type: </label><input type="text" name="pirate[ships][][category]" id="ship_category_2"><br>
  <label>Ship No. 2 Booty: </label><input type="text" name="pirate[ships][][booty]" id="ship_booty_2"><br>

  <input type="submit" value="Submit">
</form>
