<form method="POST" action="/pirates">
  <p>Pirates Name: <input type="text" name="pirate[name]"></p>
  <p>Pirates Weight: <input type="text" name="pirate[weight]"></p>
  <p>Pirates Height: <input type="text" name="pirate[height]"></p>
  <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <button name="submit">Submit</button>
</form>
