<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pirates" method="post">
      <label>Name: <input type="text" name="pirate[name]" value=""></label>
      <label>Wight: <input type="text" name="pirate[weight]" value=""></label>
      <label>Height: <input type="text" name="pirate[height]" value=""></label>
      <label>Ships Name: <input type="text" name="pirate[ships][][name]" value=""></label>
      <label>Ships Type: <input type="text" name="pirate[ships][][type]" value=""></label>
      <label>Ships Booty: <input type="text" name="pirate[ships][][booty]" value=""></label>
      <input type="submit" name="name" value="Submit">
    </form>
  </body>
</html>
