<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>Pirates and Their Ships</title>
<h1>Welcome to the Pirate Lab, Mate</h1>
<a href="new">Click Here to Find a Pirate</a>
</head>

<body>
    <p> -->

<form method="POST" action= '/pirates'>
  <h2> Pirate </h2>

  <label for="pirate[name]">Pirate Name</label><br>
    <input type="text" id="pirate[name]"name="pirate[name]"/><br>

  <label for="pirate[weight]">Pirate Weight</label><br>
    <input type="text" id="pirate[weight]"name="pirate[weight]"/><br>

  <label for="pirate[height]">Pirate Height</label><br>
    <input type="text" id="pirate[height]"name="pirate[height]"/><br>



    <h2>Ship #1</h2>

      <label for="ship_name_1">Ship Name</label><br>
        <input type="text" id="ship_name_1" name="pirate[ships][][name]"/><br>


      <label for="ship_type_1">Ship Type</label><br>
        <input type="text" id="ship_type_1" name="pirate[ships][][type]"/><br>


      <label for="ship_booty_1">Ship Booty</label><br>
        <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"/><br>



    <h2>Ship #2</h2>

      <label for="ship_name_2">Ship Name</label><br>
        <input type="text" id="ship_name_2" name="pirate[ships][][name]"/><br>


      <label for="ship_type_2">Ship Type</label><br>
        <input type="text" id="ship_type_2" name="pirate[ships][][type]"/><br>


      <label for="ship_booty_2">Ship Booty</label><br>
        <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"/><br>

        <input type="submit" value="Submit">

        </p>

      </form>

  </body>

</html>
<!-- binding.pry -->
