<h1>Make your form here</h1>
<form method="POST" action='/pirates'>
  <label>Name</label>
  <input type="text" name="pirate[name]">
  <label>Weight</label>
  <input type="text" name="pirate[weight]">
  <label>Height</label>
  <input type="text" name="pirate[height]">
  <label>Ship1 Name</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  <label>Ship1 Type</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]">
  <label>Ship1 Booty</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <label>Ship2 Name</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  <label>Ship2 Type</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]">
  <label>Ship2 Booty</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">

  <input type="submit" value="Submit">
 </form>