<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="new" method="post">
      <h1>Make your form here</h1>
      <label for="pirate[name]"></label>
      <input type="text" id ="pirate[name]" name="pirate[name]" value="name">
      <label for="pirate[weight]"></label>
      <input type="text" id="pirate[weight]" name="pirate[weight]" value="weight">
      <label for="pirate[height]"></label>
      <input type="text" id="pirate[height]" name="pirate[height]" value="">

      <label for="pirate[ships][][name]"></label>
      <input type="text" id ="pirate[ships][]name]" name="pirate[name]" value="name">
      <label for="pirate[ships][][type]"></label>
      <input type="text" id="pirate[ships][][type]" name="pirate[weight]" value="weight">
      <label for="pirate[ships][][booty]"></label>
      <input type="text" id="pirate[ships][][booty]" name="pirate[height]" value="">
      <input type="text" name="submit" value="submit">
    </form>
  </body>
</html>
