<<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Pirates and Ships</title>
</head>
<body>
  <label>Pirate</label>
  <form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]" id="name">
  Pirate Weight: <input type="text" name="pirate[weight]" id="weight">
  Pirate Height: <input type="text" name="pirate[height]" id="height">
  <label>Pirate Ship One</label>
  Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  Shit Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  <label>Pirate Ship Two</label>
  Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  Shit Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  <input type="submit" value="Submit">
</form>
</body>
</html>
