<h1>Make your form here</h1>
#needs <label>
  #create three objects - one instance of Pirate class
  #two instances of Ship class
  #build a corresponding controller action to load this page
  #form should POST to the route /pirates
  
