<form action="/pirates" method="post">
    <label for="pirate_name">Pirate's Name: </label>
    <input id="pirate_name" type="text" name="pirate[name]">
    <label for="pirate_weight">Pirate's Weight: </label>
    <input id="pirate_weight" type="text" name="pirate[weight]">
    <label for="pirate_height">Pirate's Height: </label>
    <input id="pirate_height" type="text" name="pirate[height]">
    <label for="ship_name_1">Pirate's 1st Ship Name: </label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]">
    <label for="ship_type_1">Pirate's 1st Ship Type: </label>
    <input id="ship_type_1" type="text" name="pirate[ships][][type]">
    <label for="ship_booty_1">Pirate's 1st Ship Booty: </label>
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
    <label for="ship_name_2">Pirate's 2nd Ship Name: </label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]">
    <label for="ship_type_2">Pirate's 2nd Ship Type: </label>
    <input id="ship_type_2" type="text" name="pirate[ships][][type]">
    <label for="ship_booty_2">Pirate's 2nd Ship Booty: </label>
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
    <input id="Submit" type="submit" value="submit">
</form>
