<h1>Make your form here</h1>

<form action="/pirates" method="post">
    <h2>pirates</h2>
    <h3>Pirate name<input id="pirate_name"type="text" name="pirate[name]"></h3>
    <h3>Pirate weight<input id="pirate_weight"type="text" name="pirate[weight]"></h3>
    <h3>Pirate height<input id="pirate_height"type="text" name="pirate[height]"></h3>

    <h2>ships</h2>
    <!-- [] indicates that what come after it would be nested -->
    </h3>Ship name<input id="ship_name_1" type="text" name="pirate[ships][][name]"></h3>
    </h3>Ship type<input id="ship_type_1"type="text" name="pirate[ships][][type]"></h3>
    </h3>Ship booty<input id="ship_booty_1"type="text" name="pirate[ships][][booty]"></h3>

<br>

    </h3>Ship name<input id="ship_name_2" type="text" name="pirate[ships][][name]"></h3>
    </h3>Ship type<input id="ship_type_2"type="text" name="pirate[ships][][type]"></h3>
    </h3>Ship booty<input id="ship_booty_2"type="text" name="pirate[ships][][booty]"></h3>

    <input id="Submit" type="submit" value="Submit">

</form>
