<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates</title>
  </head>

  <body>

    <h1>Pirates</h1>
    <form method="POST" action="/pirates">
      <p>Pirate Name:<input type="text" id="pirate[name]" name="pirate[name]"></p>
      <p>Pirate Weight:<input type="text" id="pirate[weight]" name="pirate[weight]"></p>
      <p>Pirate Height:<input type="text" id="pirate[height]" name="pirate[height]"></p>
      <p>Ship Name:<input type="text" id="ship_name_1" name="pirate[ships][][name]"></p>
      <p>Ship Type:<input type="text" id="ship_type_1" name="pirate[ships][][type]"></p>
      <p>Ship Booty:<input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></p>
      <p>Ship Name:<input type="text" id="ship_name_2" name="pirate[ships][][name]"></p>
      <p>Ship Type:<input type="text" id="ship_type_2" name="pirate[ships][][type]"></p>
      <p>Ship Booty:<input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></p>
      <input type="submit" id="Submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
