<html>
<form method="POST" action='/pirates'>
  <p>Pirate Name: <input text="text" name="pirate[name]"></p>
  <p>Pirate Weight: <input text="text" name="pirate[weight]"></p>
  <p>Pirate Height: <input text="text" name="pirate[height]"></p>
  <p>Ship Name: <input id="ship_name_1" text="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input id="ship_type_1" text="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input id="ship_booty_1" text="text" name="pirate[ships][][booty]"></p>
  <p>Ship Name: <input id="ship_name_2" text="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input id="ship_type_2" text="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input id="ship_booty_2" text="text" name="pirate[ships][][booty]"></p>
  <input type="submit" value="Submit">
</form>
</html>