<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <label for="pirate[name]">Pirate Name:</label>
  <input type="text" name="pirate[name]">
  <label for="pirate[weight]">Pirate Weight:</label>
  <input type="text" name="pirate[weight]">
  <label for="pirate[height]">Pirate Height:</label>
  <input type="text" name="pirate[height]">
  <label for="pirate[ships][][name]">Shipe One Name:</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
  <label for="pirate[ships][][type]">Ship One Type:</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]" >
  <label for="pirate[ships][][booty]">Ship One Booty:</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" >
  <label for="pirate[ships][][name]">Ship Two Name:</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]" >
  <label for="pirate[ships][][type]">Ship Two Type:</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]" >
  <label for="pirate[ships][][booty]">Ship Two Booty:</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" >
  <input type="submit" value="Submit">
</form>
