<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <h2>Create Your Pirate: </h2>
  <label for="pirate_name">Pirate Name: </label><input type="text" name="pirate[name]">
  <br>
  <label for="pirate_weight">Pirate Weight: </label><input type="text" name="pirate[weight]">
  <br>
  <label for="pirate_height">Pirate Height: </label><input type="text" name="pirate[height]">
  <br>

  <h2>Create Your First Ship: </h2>
  <label for="ship_name_1">Ship Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_1">
  <br>
  <label for="ship_type_1">Ship Type: </label><input type="text" name="pirate[ships][][type]" id="ship_type_1">
  <br>
  <label for="ship_booty_1">Ship Booty: </label><input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  <br>

  <h2>Create Your Second Ship: </h2>
  <label for="ship_name_2">Ship Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_2">
  <br>
  <label for="ship_type_2">Ship Type:   </label><input type="text" name="pirate[ships][][type]" id="ship_type_2">
  <br>
  <label for="ship_booty_2">Ship Booty: </label><input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  <br>
  <input type="submit" id="Submit">
</form>
