<h1>Make your form here</h1>

<% his form will be creating three objects (one instance of the Pirate class, and two instances of the Ship class %>

<form action='/show' method='post'>
  # pirate
  <label>Pirate Name:</label>
  <input type='text' name='pirate[name]'>
  <label>Pirate Weight:</label>
  <input type='text' name='pirate[weight]'>
  <label>Pirate Height:</label>
  <input type='text' name='pirate[height]'>
  
  # ship 1 
  <label>OOOOOOOOOOOOOO</label>
  <input type='text' name='XXXXXXXXX'>
  <label>OOOOOOOOOOOOOO</label>
  <input type='text' name='XXXXXXXXX'>
  <label>OOOOOOOOOOOOOO</label>
  <input type='text' name='XXXXXXXXX'>
  
  # ship 2
  <label>OOOOOOOOOOOOOO</label>
  <input type='text' name='XXXXXXXXX'>
  <label>OOOOOOOOOOOOOO</label>
  <input type='text' name='XXXXXXXXX'>
  <label>OOOOOOOOOOOOOO</label>
  <input type='text' name='XXXXXXXXX'>
  
</form>
