<h1>WELCOME!</h1>

<form action="./pirates" method="post">
  <h2>Make your Pirate!</h2>
  <p>Pirate Name: <input type="text" name="pirate[name]"></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
  <p>Pirate Height: <input type="text" name="pirate[height]"></p>
  <br>

  <h2>Make your Ships!</h2>
  <p>Ship 1 Name: <input type="text" name="pirate[ship][][name]" id = "ship_name_1"></p>
  <p>Ship 1 Type: <input type="text" name="pirate[ship][][type]" id = "ship_type_1"></p>
  <p>Ship 1 Booty: <input type="text" name="pirate[ship][][booty]" id = "ship_booty_1"></p>
  <br>
  <p>Ship 2 Name: <input type="text" name="pirate[ship][1][name]" id = "ship_name_2"> </p>
  <p>Ship 2 Type: <input type="text" name="pirate[ship][1][type]" id = "ship_type_2"></p>
  <p>Ship 2 Booty: <input type="text" name="pirate[ship][1][booty]" id = "ship_booty_2"></p>
  <input type="submit" name="submit" id="submit">
</form>
