<!DOCTYPE html>
<html>

  <form method="post" action="/pirates">
    <label for="pirate[name]">Choose 'yar Pirate!</label>
    <input type="text" name="pirate[name]"><br>
    <label for="pirate[height]">What's 'yuur height?!</label>
    <input type="text" name="pirate[height]"><br>
    <label for="pirate[weight]">Har har har! the weight of ye?!</label>
    <input type="text" name="pirate[weight]"><br>
    <label for="pirate[ships][][name]">Choose yeeer Ship!!</label>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
    <label for="pirate[ships][][type]">What type is the lass?!</label>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
    <label for="pirate[ships][][booty]">And what does she carry??</label>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>
    <label for="pirate[ships][][name]">Choose 'yer other Ship!!!</label>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>
    <label for="pirate[ships][][type]">What type is the lass?!</label>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>
    <label for="pirate[ships][][booty]">And what does she carry??</label>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
    <input type="submit" value="Submit">
  </form>
</html>
