<form action="/pirates" method="post">
  <h1>Pirate Info</h1><br>
  <label name="pirate_name">Name:</label> <input id="pirate_name" type="text" name="pirate[name]">
  <label name="pirate_weight">Weight:</label> <input id="pirate_weight" type="text" name="pirate[weight]">
  <label name="pirate_height">Height:</label> <input id="pirate_height" type="text" name="pirate[height]">

  <h1>First Ship Info</h1><br>
  <label name="ship_name_1">Name:</label> <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  <label name="ship_type_1">Weight:</label> <input id="ship_type_1" type="text" name="pirate[ships][][type]">
  <label name="ship_booty_1">Height:</label> <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">

  <h1>Second Ship Info</h1><br>
  <label name="ship_name_2">Name:</label> <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  <label name="ship_type_2">Weight:</label> <input id="ship_type_2" type="text" name="pirate[ships][][type]">
  <label name="ship_booty_2">Height:</label> <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">

  <input type="submit" value="Submit">
</form>