<h1>Pirates!</h1>
<form action="/pirates" method="post">
  <label for="name">Pirate Name:</label><input id="name" type="text" name="pirate[name]"><br>
  <label for="weight">Pirate Weight:</label><input id="weight" type="text" name="pirate[weight]"><br>
  <label for="height">Pirate Height:</label><input id="height" type="text" name="pirate[height]"><br>
  
  <label for="ship_name1">Ship Name1:</label><input id="ship_name1" type="text" name="pirate[ships][][name]"><br>
  <label for=ship_type1>Ship Type1:</label><input id="ship_type1" type="text" name="pirate[ships][][type]"><br>
  <label for="ship_booty1">Ship Booty1:</label><input id="ship_booty1" type="text" name="pirate[ships][][booty]"><br>
  
  <label for="ship_name2">Ship Name2:</label><input id="ship_name2" type="text" name="pirate[ships][][name]"><br>
  <label for="ship_type2">Ship Type2:</label><input id="ship_type2" type="text" name="pirate[ships][][type]"><br>
  <label for="ship_booty2">Ship Booty2:</label><input id="ship_booty2" type="text" name="pirate[ships][][booty]"><br>
  <input type="submit" id="Submit">
</form>