<h1>Make your form here</h1>

<form class="" action="/pirates" method="post">
  <div class="">
    <h2>Pirate</h2>
    <label for="p_name">Name:</label><br>
    <input type="text" name="pirate[name]" id="p_name"><br>
    <label for="p_weight">Weight:</label><br>
    <input type="text" name="pirate[weight]" id="p_weight"><br>
    <label for="p_height">Height:</label><br>
    <input type="text" name="pirate[height]" id="p_height"><br><br>
  </div>
  <div class="">
    <h2>Ship(s)</h2>
    <label for="ship_name1">Ship Name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1"><br>
    <label for="ship_type1">Ship Type:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1"><br>
    <label for="ship_booty1">Ship Booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br><br>


    <label for="ship_name2">Ship Name:</label><br>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2"><br>
    <label for="ship_type2">Ship Type:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2"><br>
    <label for="ship_booty2">Ship Booty:</label><br>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"><br>
  </div>
  <input type="submit" value="Submit">

</form>
