<h2>Create a Pirate and two Ships</h2>

<form action='/show' method='post'>
  <% # pirate %>
  <label>Pirate Name:</label>
  <input type='text' name='pirate[name]'>
  
  <label>Pirate Weight:</label>
  <input type='text' name='pirate[weight]'>
  
  <label>Pirate Height:</label>
  <input type='text' name='pirate[height]'>
  
  <% # ship 1 %> 
  <label>Ship 1 Name:</label>
  <input type='text' name='pirate[ships][][name]'>
  
  <label>Ship 1 Type:</label>
  <input type='text' name='pirate[ships][][type]'>
  
  <label>Ship 1 Booty:</label>
  <input type='text' name='pirate[ships][][booty]'>
  
  <% # ship 2 %>
  <label>Ship 1 Name:</label>
  <input type='text' name='pirate[ships][][name]'>
  
  <label>Ship 1 Name:</label>
  <input type='text' name='pirate[ships][][name]'>
  
  <label>Ship 1 Name:</label>
  <input type='text' name='pirate[ships][][name]'>
  
  <input type="submit">
</form>
