<h1>Make your form here</h1>
<form class="" action="/pirates" method="post">
  <label for="pirate">Pirate:</label>
  <input type="text" name="pirate" value=""><br>

  <label for="ship_1">Ship 1:</label>
  <input type="text" name="ship_1" value=""><br>

  <label for="ship_2">Ship 2:</label>
  <input type="text" name="ship_2" value="">

  <input type="submit" name="Submit" value="">
</form>
