<form method="POST" action="/pirates">

  <h1>Enter your Pirate</h1>
  <label for="name1">Name: </label><br>
  <input type="text" name="pirate[name]" id="name1"><br>
  <label for="weight1">Weight: </label><br>
  <input type="text" name="pirate[weight]" id="weight1"><br>
  <label for ="height1">Pirate Height: </label><br>
  <input type="text" name="pirate[height]" id="height1"><br>

  <h1>Enter your Ship(s)</h1>
  <label for="ship_name_1"> Ship Name: </label><br>
  <input type="text" name="pirate[ships][][name]" id="ship_name_1"><br>
  <label for="ship_type_1"> Ship type: </label><br>
  <input type="text" name="pirate[ships][][type]" id="ship_type_1"><br>
  <label for="ship_booty_1"> Ship booty: </label><br>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br>

  <label for="ship_name_2"> Ship 2 Name: </label><br>
  <input type="text" name="pirate[ships][][name]" id="ship_name_2"><br>
  <label for="ship_type_2"> Ship 2 type: </label><br>
  <input type="text" name="pirate[ships][][type]" id="ship_type_2"><br>
  <label for="ship_booty_2"> Ship 2 booty: </label><br>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"><br>
  <input type="submit" value="Submit">
</form>
