<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Pirate's lab</title>
   </head>
   <body>
      <h1>Pirate's info:
      </h1>
      <form action="/pirates" method="post">
         <p>Pirate name:
            <input type="text" name="pirate[name]">
         </p>
         <p>Pirate weight:
            <input type="text" name="pirate[weight]">
         </p>
         <p>Pirate height:
            <input type="text" name="pirate[height]">
         </p>
         <p>Ship 1 name:
            <input type="text" name="pirate[ships][][name]" id="ship_name_1">
         </p>
         <p>Ship 1 type:
            <input type="text" name="pirate[ships][][type]" id="ship_type_1">
         </p>
         <p>Ship 1 booty:
            <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
         </p>
         <p>Ship 2 name:
            <input type="text" name="pirate[ships][][name]" id="ship_name_2">
         </p>
         <p>Ship 2 type:
            <input type="text" name="pirate[ships][][type]" id="ship_type_2">
         </p>
         <p>Ship 2 booty:
            <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
         </p>
         <input type="submit" value="Submit">
      </form>
   </body>
</html>
