<h1><form action="/pirate" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Weight: <input type="text" name="pirate[weight]">
  Height: <input type="text" name="pirate[height]">
  
  <input type="submit">
</form></h1>

<form action="/ship" method="post">
  Ship: <input type="text" name="ship[name]">
  Type: <input type="text" name="ship[type]">
  Booty: <input type="text" name="ship[booty]">
  
  <input type="submit">
</form></h2>

<form action="/ship" method="post">
  Ship: <input type="text" name="ship[name]">
  Type: <input type="text" name="ship[type]">
  Booty: <input type="text" name="ship[booty]">
  
  <input type="submit">
</form></h2>