<form action = "/pirates" method = "post">

<label for = "">Pirate Name</label>
<input type = "text" name = "pirate[name]" ><br>
<label for = "">Pirate Weight</label>
<input type = "number" name = "pirate[weight]" ><br>
<label for = "">Pirate Height</label>
<input type = "text" name = "pirate[height]" ><br>
<label for = "">Pirate Ship Name</label>
<input type = "text" id = "ship_name_1" name = "pirate[ships][][name]" ><br>
<label for = "">Pirate Ship Type </label>
<input type = "text" id = "ship_type_1" name = "pirate[ships][][type]" ><br>
<label for = "">Pirate Ship Booty</label>
<input type = "text" id = "ship_booty_1" name = "pirate[ships][][booty]" ><br>
<label for = "">Another Pirate Ship Name </label>
<input type = "text" id = "ship_name_2" name = "pirate[ships][][name]" ><br>
<label for = "">Another Pirate Ship Type </label>
<input type = "text" id = "ship_type_2" name = "pirate[ships][][type]" ><br>
<label for = "">Another Pirate Ship Booty </label>
<input type = "text" id = "ship_booty_2" name = "pirate[ships][][booty]" ><br>


  <input type="submit" value="Submit">
</form>
