<h1>Make your form here</h1>
<label> 
<form action="/pirate" method="POST">
 
  
  
  Pirate Name: <input type ="text" name="pirate[name]" >
  Pirate Weight: <input type = "text" name="pirate[weight]" >
  Pirate Height: <input type = "text" name= "pirate[height]" > 
  
  
  
  
</form>


</label>


<!--This form will be creating three objects (one instance of the Pirate class, and two instances of the Ship class -->