<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <b>Pirate</b><br>
  Name: <input type="text" name="pirate[name]"><br>
  Weight: <input type="text" name="pirate[weight]"><br>
  Height: <input type="text" name="pirate[height]"><br>
  <b>Ship 1</b><br>
  Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]">
  Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <br>

  <b>Ship 2</b><br>
  Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]">
  Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
  <input type="submit" name="submit" value="Submit">
</form>
