<form class="" action="/pirates" method="post">
  <h1>PIRATE</h1>
  <label for="pirate_name">Name</label>
  <input id="pirate_name" type="text" name="pirate[name]" value="">
  <label for="pirate_weight">Weight</label>
  <input id="pirate_weight" type="text" name="pirate[weight]" value="">
  <label for="pirate_height">Height</label>
  <input id="pirate_height" type="text" name="pirate[height]" value="">

  <h1>SHIPS</h1>
  <label for="ship_name_1">Name</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]" value="">
  <label for="ship_type_1">Type</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]" value="">
  <label for="ship_booty_1">Booty</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value="">

  <label for="ship_name_2">Name</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]" value="">
  <label for="ship_type_2">Type</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]" value="">
  <label for="ship_booty_2">Booty</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value="">

  <p>Submit<input type="submit" value="Submit"></p>
</form>
