<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Make your form here</h1>
  <form action="/pirates" method="post">
  
  <input type="text" name="pirates[:name]">
  <input type="text" name="pirates[:weight]">
  <input type="text" name="pirates[:height]">

  <input type="text" name="pirates[:ships][:name]">
  <input type="text" name="pirates[:ships][:type]">
  <input type="text" name="pirates[:ships][:booty]">

  </form>
</body>
</html>