<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Here</title>
  </head>
  <body>
    <h2>Welcome to the Nested Forms Lab!</h2>
    <p>
      let's navigate to the '/new'
    </p>
    <form class="" action="/pirates" method="post">
      Pirate Name:<input type="text" name="pirate[name]" value=""><br>
      Pirate Weight:<input type="text" name="pirate[weight]" value=""><br>
      Pirate Height:<input type="text" name="pirate[height]" value=""><br>
      Ship1 Name:<input id="ship_name_1" type="text" name="pirate[ships][][name]" value=""><br>
      Ship1 Type:<input id="ship_type_1" type="text" name="pirate[ships][][type]" value=""><br>
      Ship1 Booty:<input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value=""><br>
      Ship2 Name:<input id="ship_name_2" type="text" name="pirate[ships][][name]" value=""><br>
      Ship2 Type:<input id="ship_type_2" type="text" name="pirate[ships][][type]" value=""><br>
      Ship2 Booty:<input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value=""><br>
      <input id="Submit" type="submit" name="Submit" value="Submit">
    </form>

  </body>
</html>
