<form method='POST' action='/pirates'>
  <fieldset>
    <legend>Pirate Data</legend>
    Name:<br>
    <input type="text" name="pirate[name]"><br>
    Weight:<br>
    <input type="text" name="pirate[weight]"><br>
    Height:<br>
    <input type="text" name="pirate[height]"><br><br>
    <legend>First Ship</legend>
    Name:<br>
    <input type="text" id='ship_name_1' name="pirate[ships][][name]"><br>
    Type:<br>
    <input type="text" id='ship_type_1' name="pirate[ships][][type]"><br>
    Booty:<br>
    <input type="text" id='ship_booty_1' name="pirate[ships][][booty]"><br><br>
    <legend>Second Ship</legend>
    Name:<br>
    <input type="text" id='ship_name_2' name="pirate[ships][][name]"><br>
    Type:<br>
    <input type="text" id='ship_type_2' name="pirate[ships][][type]"><br>
    Booty:<br>
    <input type="text" id='ship_booty_2' name="pirate[ships][][booty]"><br><br>

    <input type="submit" value="Submit">
  </fieldset>
</form>
