<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Make your form here</h1>
    <form action="/pirates" method="post">
      Pirate Name: <input type="text" name="pirate[name]">
      Pirate Weight: <input type="text" name="pirate[weight]">
      Pirate Height: <input type="text" name="pirate[height]">
      Ship Name: <input type="text" name="student[courses][][name]" />
      Course Topic: <input type="text" name="student[courses][][topic]" />
      Course Name: <input type="text" name="student[courses][][name]" />
      Course Topic: <input type="text" name="student[courses][][topic]" />
      <input type="submit">
    </form>
  </body>
</html>
