<h1>Welcome to the Nested Forms Lab!</h1>
<h1>Make your form here</h1>
<form action="/pirates" method="POST">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]"><br>
  Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  Ship Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  Ship Type: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>
  Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  Ship Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  Ship Type: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>
