<form method="POST" action="/pirates">

  <h2>Pirate</h2>

  <label for="pirate_name">Pirate Name: </label>
  <input type="text" name="pirate[name]">
  <label for="pirate_weight">Pirate Weight: </label>
  <input type="text" name="pirate[weight]">
  <label for="pirate_height">Pirate Height: </label>
  <input type="text" name="pirate[height]">

  <h2>Ships</h2>

  <h3>Ship 1</h3>
  <label for="ship_name"> Ship Name: </label>
  <input type="text" name="pirate[ships][][name]" id ="ship_name_1">
  <label for="ship_type">Ship Type: </label>
  <input type="text" name="pirate[ships][][type]" id = "ship_type_1">
  <label for="ship_booty">Ship Booty: </label>
  <input type="text" name="pirate[ships][][booty]"  id = "ship_booty_1">

  <h3> Ship 2</h3>
  <label for="ship_name"> Ship Name: </label>
  <input type="text" name="pirate[ships][][name]" id ="ship_name_2">
  <label for="ship_type">Ship Type: </label>
  <input type="text" name="pirate[ships][][type]"id = "ship_type_2">
  <label for="ship_booty">Ship Booty: </label>
  <input type="text" name="pirate[ships][][booty]" id = "ship_booty_2">

  <input type="submit" id = "Submit" name = "Submit">
</form>
