<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label for="pirate[name]">Pirate Name:</label>
  <input type="text" name="pirate[name]" value="">
  <label for="pirate[height]">Pirate Height:</label>
  <input type="text" name="pirate[height]" value="">
  <label for="pirate[weight]">Pirate Weight:</label>
  <input type="text" name="pirate[weight]" value="">
  <br>
  <label for="pirate[ships][][name]">1st Ship Name:</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
  <label for="pirate[ships][][type]">1st Ship Type:</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]" >
  <label for="pirate[ships][][booty]">1st Ship Booty:</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" >
  <br>
  <label for="pirate[ships][][name]">2nd Ship Name:</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]" >
  <label for="pirate[ships][][type]">2nd Ship Type:</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]" >
  <label for="pirate[ships][][booty]">2nd Ship Booty:</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" >
  <input type="submit" value="Submit">
</form>
