<h1>Welcome to the Nested Forms Lab!</h1>

  <form method="post" action="/pirates">
    <h2>Pirate</h2>
     Name: <input id="pirate_name" type="text" name="pirate[name]">
     Weight: <input id="priate_weight" type="text" name="pirate[weight]">
     Height: <input id="pirate_height" type="text" name="pirate[height]">
  </form>

  <h2>Ship</h2>
  <form method="post" action="/ship1">
    Name: <input id= "ship_1_name" type="text" name="pirate[ships][][name]">
    Type: <input id="ship_1_type" type="text" name="pirate[ships][][type]">
    Booty: <input id="ship_1_booty" type="text" name="pirate[ships][][booty]">
  </form>
  
  <form method="post" action="/ship2">
    Ship Name: <input id="ship_2_name" type="text" name="pirate[ships][][name]">
    Ship Type: <input tid="ship_2_type" ype="text" name="pirate[ships][][type]">
    Ship Booty: <input id="ship_2_booty" type="text" name="pirate[ships][][booty]">
  </form>