<!DOCTYPE html>

<html>
  <head>
    <title>Pirates!</title>
  </head>
  <body>
    <h1>Lets Create a Pirate Matey!</h1><br><br>
    <form action="/pirates" method="POST">
      <label for id="name">Enter Pirate Name:</label><br>
      <input type="text" name="pirate[name]" id="name"><br><br>
      <label for id="weight">Enter Pirate Weight:</label><br>
      <input type="text" name="pirate[weight]" id="weight"><br><br>
      <label for id="height">Enter Pirate Height:</label><br>
      <input type="text" name="pirate[height]" id="height"><br><br><br>
      
      <label for id="ship_name_1">Enter Ship One Name:</label><br>
      <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br><br>
      <label for id="ship_type_1">Enter Ship One Type:</label><br>
      <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br><br>
      <label for id="ship_booty_1">Enter Ship One Booty:</label><br>
      <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br><br><br>
      
      <label for id="ship_name_2">Enter Ship Two Name:</label><br>
      <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br><br>
      <label for id="ship_type_2">Enter Ship Two Type:</label><br>
      <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br><br>
      <label for id="ship_booty_2">Enter Ship Two Booty:</label><br>
      <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br><br>

      <input type="submit" id="Submit">


 

      
    </form>

  </body>

</html>