<h1>Pirates!</h1>

<form action="/pirates" method="post">
  <p><label for="pirate[name]">Pirate's Name: <input type="text" name="pirate[name]"></label></p>
  <p><label for="pirate[weight]">Pirate's Weigh: <input type="text" name="pirate[weight]"></label></p>
  <p><label for="pirate[height]">Pirate's Height: <input type="text" name="pirate[height]"></label></p>
  <p><label for="ship_name_1">Ship 1 Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1"></label></p>
  <p><label for="ship_type_1">Ship 1 Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1"></label></p>
  <p><label for="ship_booty_1">Ship 1 Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></label></p>
  <p><label for="ship_name_2">Ship 2 Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2"></label></p>
  <p><label for="ship_type_2">Ship 2 Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2"></label></p>
  <p><label for="ship_booty_2">Ship 2 Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></label></p>
  <p><input type="submit" name="" value="Submit"></p>
</form>
