<h1>Please fill out the form below</h1>

<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]" input id="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]" input id="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]" input id="pirate[height]">
  Ship Name 1: <input type="text" name="pirate[ships][][name]" input id="ship_name_1">
  Ship Type 1: <input type="text" name="pirate[ships][][type]" input id="ship_type_1">
  Ship Booty 1: <input type="text" name="pirate[ships][][booty]" input id="ship_booty_1">
  Ship Name 2: <input type="text" name="pirate[ships][][name]" input id="ship_name_2">
  Ship Type 2: <input type="text" name="pirate[ships][][type]" input id="ship_type_2">
  Ship Booty 2: <input type="text" name="pirate[ships][][booty]" input id="ship_booty_2">
 <button type="submit" value="submit">Submit</button>
</form>
