<h1>Create yer pirate!</h1>
<form method="POST">
  <p><input type="text" name="pirate[name]"></p>
  <p><input type="text" name="pirate[weight]"></p>
  <p><input type="text" name="pirate[height]"></p>
  <input type="submit">
</form>
