<h1>Make your form here</h1>

<form action="/pirates" method="post">
    <label for="name">Pirate Name</label>
    <input type="text" id="name" name="pirate[name]">
    <label for="name">Pirate Weight</label>
    <input type="text" id="weight" name="pirate[weight]">
    <label for="name">Pirate Height</label>
    <input type="text" id="height" name="pirate[height]">

    <label for="name">Ship Name 1</label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
    <label for="name">Ship Type 1</label>
    <input id="ship_type_1" type="text" name="pirate[ships][][type]" >
    <label for="name">Booty Type 1</label>
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" >

    <label for="name">Ship Name 2</label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]" >
    <label for="name">Ship Type 2</label>
    <input id="ship_type_2" type="text" name="pirate[ships][][type]" >
    <label for="name">Booty Type 2</label>
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" >

    <input type="submit" value="Submit">
</form>
