<h1>YAR!</h1>
<form method="POST" action='/pirates'>
  <h5>PIRATE:</h5>
  <label for="name">Name:</label>
  <input type="text" name="pirate[name]"><br>
  <label for="weight">Weight:</label>
  <input type="text" name="pirate[weight]"><br>
  <label for="height">Height:</label>
  <input type="text" name="pirate[height]"><br>
  <br>
  <h5>SHIP 1:</h5>
  <label for="name">Name:</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br>
  <label for="type">Type:</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br>
  <label for="booty">Booty:</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br>
  <br>
  <h5>SHIP 2:</h5>
  <label for="name">Name:</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br>
  <label for="type">Type:</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br>
  <label for="booty">Booty:</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br>
  <br>
  <input id="Submit" type="submit" value="submit"></input>
</form>
