<h1>Welcome to the Nested Forms Lab!</h1>
<form method ="post" action = "/pirates">
  <p>Pirate Name: <input id="pirate[name]" type="text" name="pirate[name]"></p>
  <p>Pirate Weight: <input id="pirate[weight]" type="text" name="pirate[weight]"></p>
  <p>Pirate Height: <input id="pirate[height]" type="text" name="pirate[height]"></p>
  <p>Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
  <p>Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships[][booty]"></p>
  <p><input type="submit" value="Submit"></p>
</form>

