<h1>Make your form here</h1>
<!--Student Name: <input type="text" name="student[name]"> -->

<form action="/pirates" method="post">

  <h1>Pirate</h1>
  <label for="pirate_name">Name:</label></br>
    <input type="text" name="pirate[name]" id="pirate_name"></br>
  <label for="pirate_weight">Weight:</label></br>
    <input type="text" name="pirate[weight]" id="pirate_weight"></br>
  <label for="pirate_height">Height:</label></br>
    <input type="text" name="pirate[height]" id="pirate_height"></br></br>

  <h1>Pirate's Ship 1</h1>
  <label for="ship_name_1">Name:</label></br>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1"></br>
  <label for="ship_type_1">Type:</label></br>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1"></br>
  <label for="ship_booty_1">Booty:</label></br>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></br></br>

  <h1>Pirate's Ship 2</h1>
  <label for="ship_name_2">Name:</label></br>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2"></br>
  <label for="ship_type_2">Type:</label></br>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2"></br>
  <label for="ship_booty_2">Booty:</label></br>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></br>

  <input id="Submit" type="submit">
</form>
