<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>Pirates and Their Ships</title>
<h1>Welcome to the Pirate Lab, Mate</h1>
<a href="new">Click Here to Find a Pirate</a>
</head>

<body>
    <p>

<form method="post" action= "/new">
  <label for="name">Pirate Name</label>
    <input type="text" id="name" name="name">

  <label for="weight">Pirate's Weight</label>
    <input type="integer" id="weight" name="weight"

  <label for="height">Pirate's Height</label>
    <input type="integer" id="height" name="height"

    <input type="submit" value="submit">
    <input type="button" value="submit">

    </p>

  </form>

</body>
