<!-- <h1> -->
  <form action="/pirates" method="post">
    <label for="pirate_name"> Pirate Name </label>
    <input type="text" name="pirate[name]">
    <label for="pirate_weight"> Pirate Weight </label>
    <input type="text" name="pirate[weight]">
    <label for="pirate_height"> Pirate Height </label>
    <input type="text" name="pirate[height]">
    <label for="pirate_ships_name"> Pirate Ship Name </label>
    <input type="text" name="pirate[ships][][name]">
    <label for="pirate_ships_type"> Pirate Ship Type </label>
    <input type="text" name="pirate[ships][][type]">
    <label for="pirate_ship_booty"> Pirate Ship Booty </label>
    <input type="text" name="pirate[ships][][booty]">
    <input type="submit">
  </form>
<!-- </h1> -->
