
<h1>Make your form here</h1>
    <form action="/pirates" method="post">
      <p><label> pirate Name: </label><input type="text" name="pirate[name]"   id="pirate[name]"></p>
      <p><label> pirate Height:</label> <input type="text" name="pirate[height]" id="pirate[height]"></p>
      <p><label> pirate Weight:</label> <input type="text" name="pirate[weight]" id="pirate[weight]"></p>
      <p><label for="ship_name_1">Ship Name 1</label><input id="ship_name_1" type="text" name="pirate[ships][][name]" /></p>
      <p><label for="ship_type_1">Ship Type 1</label><input id="ship_type_1" type="text" name="pirate[ships][][type]" /></p>
      <p><label for="ship_booty_1">Ship Booty 1</label><input id="ship_booty_1" type="text" name="pirate[ships][][booty]" /></p>
      <p><label for="ship_name_2">Ship Name 2</label><input id="ship_name_2" type="text" name="pirate[ships][][name]" /></p>
      <p><label for="ship_type_2">Ship Type 2</label><input id="ship_type_2" type="text" name="pirate[ships][][type]" /></p>
      <p><label for="ship_booty_2">Ship Booty 2</label><input id="ship_booty_2" type="text" name="pirate[ships][][booty]" /></p>
      <input type="submit" value="Submit" name="Submit">
    </form>
