<h1>Add a Pirate</h1>

<form method="post" action="/pirates">
  <label for="pirate[name]">Pirate Name</label>
  <input type="text" name="pirate[name]"/><br>
  <label for="pirate[weight]">Pirate Weight</label>
  <input type="text" name="pirate[weight]"/><br>
  <label for="pirate[height]">Pirate Height</label>
  <input type="text" name="pirate[height]"/><br>
  
  <label for="pirate[ships][][name]">Ship Name</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]"/><br>
  <label for="pirate[ships][][type]">Ship Type</label>
  <input type="text"  id="ship_type_1"name="pirate[ships][][type]"/><br>
  <label for="pirate[ships][][booty]">Ship Booty</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"/><br>
  
  <label for="pirate[ships][][name]">Ship Name</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]"/><br>
  <label for="pirate[ships][][type]">Ship Type</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]"/><br>
  <label for="pirate[ships][][booty]">Ship Booty</label>
  <input type="text"  id="ship_booty_2" name="pirate[ships][][booty]"/><br>
  <input type="submit" id="submit" value="Submit"/>
</form>