<h1>Pirate Info:</h1>
<form method='POST' action='/pirates'>
  <label for='pirate[name]'>Name:  </label><input type='text' name='pirate[name]'><br><br>
  <label for='pirate[weight]'>Weight:  </label><input type='text' name='pirate[weight]'><br><br><br>
  <label for='pirate[height]'>Height:  </label><input type='text' name='pirate[height]'><br><br>
  <h2>First Ship:</h2>
  <label for='ship_name_1'>Name:  </label><input id="ship_name_1" type='text' name='pirate[ships][][name]'><br><br>
  <label for='ship_type_1'>Type:  </label><input id="ship_type_1" type='text' name='pirate[ships][][type]'><br><br><br>
  <label for='ship_booty_1'>Booty:  </label><input id="ship_booty_1" type='text' name='pirate[ships][][booty]'><br><br>
  <h2>Second Ship:</h2>
  <label for='ship_name_2'>Name:  </label><input id="ship_name_2" type='text' name='pirate[ships][][name]'><br><br>
  <label for='ship_type_2'>Type:  </label><input id="ship_type_2" type='text' name='pirate[ships][][type]'><br><br><br>
  <label for='ship_booty_2'>Booty:  </label><input id="ship_booty_2" type='text' name='pirate[ships][][booty]'><br><br>
  <input type='submit' id='Submit' class='Submit' value='Submit'>
</form>
