<h1>Pirate Creation Form (yarrrr!)</h1>
<form method="POST" action ='/pirates'>
  <h2>Pirate Information</h2>
    <p>name:<input id=' ' type="text" name='pirate[name]'></p>
    <p>weight:<input id=' ' type="text" name='pirate[weight]'></p>
    <p>height:<input id=' ' type="text" name='pirate[height]'></p>
  <h2>First ship</h2>
    <p>name:<input type="text" id='ship_name_1' name=pirate[ships][][name] ></p>
    <p>type:<input type="text" id='ship_type_1' name=pirate[ships][][type] ></p>
    <p>booty:<input type="text" id='ship_booty_1' name=pirate[ships][][booty] ></p>
  <h2>Second Ship</h2>
    <p>name:<input type="text" id='ship_name_2' name=pirate[ships][][name] ></p>
    <p>type:<input type="text" id='ship_type_2' name=pirate[ships][][type] ></p>
    <p>booty:<input type="text" id='ship_booty_2' name=pirate[ships][][booty] ></p>
    <button type="submit"> Submit </button>
</form> 
