<h1>Welcome to the Nested Forms Lab!</h1>
<p>let's navigate to the '/new'</p>
       <form action="/pirates" method="post">
         Pirate Name: <input type="text" name="pirate[name]"><br>
         Pirate Weight: <input type="text" name="pirate[weight]"><br>
         Pirate Height: <input type="text" name="pirate[height]"><br><br>
         Ship Name: <input type="text" name="pirate[ships][][name]"><br>
         Ship Type: <input type="text" name="pirate[ships][][type]"><br>
         Ship Booty: <input type="text" name="pirate[ships][][booty]"><br><br>
         Ship Name: <input type="text" name="pirate[ships][][name]"><br>
         Ship Type: <input type="text" name="pirate[ships][][type]"><br>
         Ship Booty: <input type="text" name="pirate[ships][][booty]"><br><br>
         <input type="submit" value="Submit">
       </form>
