<form action="/pirates" method="POST">
  <h2>Pirate</h2>
  <label for="pirate_name">Name: <input id="pirate_name" type="text" name="pirate[name]" /></label><br>
  <label for="pirate_weight">Weight: <input id="pirate_height" type="text" name="pirate[weight]" /></label><br>
  <label for="pirate_height">Height: <input id="pirate_weight" type="text" name="pirate[height]" /></label><br><br>

  <h2>Ship(s)</h2>
  <label for"ship_name_1">Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]" /></label><br>
  <label for"ship_type_1">Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" /></label><br>
  <label for"ship_booty_1">Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" /></label><br><br>

  <label for"ship_name_2">Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]" /></label><br>
  <label for"ship_type_2">Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" /></label><br>
  <label for"ship_booty_2">Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" /></label><br><br>

  <input type="submit" value="Submit">
</form>
