<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>"Welcome to the Nested Forms Lab!"</h1>
		<form action="/show" method="post">
			Pirate Name: <input type="text" name="pirate[name]">
			Pirate Height: <input type="text" name="pirate[height]">
			Pirate Weight: <input type="text" name="pirate[weight]">
		</form>
	</body>
</html>
