<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>PIRATES</title>
  </head>

<body>
<h1>PIRATES INFO</h1>
<form method="POST" action='/pirates'>

<input id="name"   type="text" name="pirate[name]"> 
<input id="weight" type="text" name="pirate[weight]">
<input id="height" type="text" name="pirate[height]">
            
            <h1>SHIP INFO</h1>

<label for="ship_name_1">Ship Name:</label>
<input id="ship_name_1" type="text" name="pirate[ships][][name]">
<label for="ship_type_1">Ship Type:</label>
<input id="ship_type_1" type="text" name="pirate[ships][][type]">
<label for="ship_booty_1">Ship Booty:</label>
<input id="ship_booty_1" type="text" name="pirate[ships][][booty]">

<label for="ship_name_2">Ship Name:</label>
<input id="ship_name_2" type="text" name="pirate[ships][][name]">

<label for="ship_type_2">Ship Type:</label>
<input id="ship_type_2" type="text" name="pirate[ships][][type]">

<label for="ship_booty_2">Ship Booty:</label>
<input id="ship_booty_2" type="text" name=pirate[ships][][booty]>
<input type="submit" value="Submit" id="submit">
</form>
</body>
</html>
