<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label for="pirate_name">Pirate name: <input type="text" name="pirate[name]" value=""><br></label>
  <label for="pirate_weight">Pirate weight: <input type="text" name="pirate[weight]" value=""><br></label>
  <label for="pirate_height">Pirate height: <input type="text" name="pirate[height]" value=""><br></label>
  <label for="ship_name">Ship name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br></label>
  <label for="ship_type">Ship type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" value=""><br></label>
  <label for="ship_booty">Ship booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value=""><br></label>
  <label for="ship_name">Ship name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br></label>
  <label for="ship_type">Ship type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" value=""><br></label>
  <label for="ship_booty">Ship booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value=""><br></label>
  <input type="submit" name="Submit" value="Submit">
</form>
