<form action="/pirates" method="post">
  <div>Pirate Name: <input type="text" name="pirate[name]"></div>
  <div>Pirate Weight: <input type="text" name="pirate[weight]"></div>
  <div>Pirate Height: <input type="text" name="pirate[height]"></div>
  <div>Pirate Ship1 Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1"></div>
  <div>Pirate Ship1 Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1"></div>
  <div>Pirate Ship1 Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></div>
  <div>Pirate Ship2 Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2"></div>
  <div>Pirate Ship2 Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2"></div>
  <div>Pirate Ship2 Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></div>
  <input type="submit" value="Submit">
</form>
