<h1>Enter your pirate information</h1>
<form action="/pirates" method="POST" id="pirate" >
  <label for="name">Pirate Name:</label>
  <input type="text" id="name" name="pirate[name]">
  <label for="weight">Weight:</label>
  <input type="text" id="weight" name="pirate[weight]">
  <label for="height">Height:</label>
  <input type="text" id="height" name="pirate[height]">
  <br>
  <label for="ship">Ship Name:</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label for="type">Ship Type:</label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label for="booty">Ship Booty:</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <br>
  <label for="ship">Ship Name:</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label for="type">Ship Type:</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label for="booty">Ship Booty:</label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <br>
  <input type="submit" id="Submit">
</form>
