<h1>Pirates!</h1>
<form method="post" action="/pirates">
  <p>Pirate Information</p>
  <label for="name" class="col-sm-2 col-form-label">Name</label>
  <input type="text" class="form-control" name="pirate[name]" id="name" placeholder="Name"><br />

  <label for="weight" class="col-sm-2 col-form-label">Weight</label>
  <input type="text" class="form-control" name="pirate[weight]" id="weight" placeholder="Weight"><br />

  <label for="height" class="col-sm-2 col-form-label">Height</label>
  <input type="text" class="form-control" name="pirate[height]" id="height" placeholder="Height"><br />

  <p>First Ship</p>
  <label for="name" class="col-sm-2 col-form-label">Name</label>
  <input type="text" class="form-control" name="pirate[ships][][name]" id="ship_name_1" placeholder="Name"><br />

  <label for="type" class="col-sm-2 col-form-label">Weight</label>
  <input type="text" class="form-control" name="pirate[ships][][type]" id="ship_type_1" placeholder="Type"><br />

  <label for="booty" class="col-sm-2 col-form-label">Height</label>
  <input type="text" class="form-control" name="pirate[ships][][booty]" id="ship_booty_1" placeholder="Booty"><br />

  <p>Second Ship</p>
  <label for="name" class="col-sm-2 col-form-label">Name</label>
  <input type="text" class="form-control" name="pirate[ships][][name]" id="ship_name_2" placeholder="Name"><br />

  <label for="type" class="col-sm-2 col-form-label">Weight</label>
  <input type="text" class="form-control" name="pirate[ships][][type]" id="ship_type_2" placeholder="Type"><br />

  <label for="booty" class="col-sm-2 col-form-label">Height</label>
  <input type="text" class="form-control" name="pirate[ships][][booty]" id="ship_booty_2" placeholder="Booty"><br />

  <br /><button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>
