<!DOCTYPE html>
<html>
  <body>
    <h1>Make your form here</h1>
    <form method="POST" action="/pirates">
      <h3>Pirate</h3>
      <label for="pirate[name]">Name: </label>
      <input type="text" name="pirate[name]" id="pirate_name">
      <label for="pirate[weight]">Weight: </label>
      <input type="text" name="pirate[weight]" id="pirate_weight">
      <label for="pirate[height]">Height: </label>
      <input type="text" name="pirate[height]" id="pirate_height">
      <h3>Ships</h3>
      <label for="ship_name_1">Name: </label>
      <input id="ship_name_1" type="text" name="pirate[ships][][name]">
      <label for="ship_type_1">Type: </label>
      <input id="ship_type_1" type="text" name="pirate[ships][][type]">
      <label for="ship_booty_1">Booty: </label>
      <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br>
      <label for="ship_name_2">Name: </label>
      <input id="ship_name_2" type="text" name="pirate[ships][][name]">
      <label for="ship_type_2">Type: </label>
      <input id="ship_type_2" type="text" name="pirate[ships][][type]">
      <label for="ship_booty_2">Booty: </label>
      <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br><br>
      <input type="submit" name="Submit" id="Submit">
    </form>
  </body>
</html>