<h1>Pirate Info</h1>
<br>
<form action="/pirates" method="POST">
  <div class="form-group">
    <label for="name">Pirate Name:</label>
    <input type="text" class="form-control" name="pirate[name]" id="name">
  </div>
  
  <div class="form-group">
    <label for="weight">Pirate Weight:</label>
    <input type="text" class="form-control" name="pirate[weight]" id="weight">
  </div>
  
  <div class="form-group">
    <label for="height">Pirate Height:</label>
    <input type="text" class="form-control" name="pirate[height]" id="height">
  </div>

  <div class="form-group">
    <label for="ship_name_1">Pirate Ship Name:</label>
    <input type="text" class="form-control" name="pirate[ships][][name]" id="ship_name_1">
  </div>

  <div class="form-group">
    <label for="ship_type_1">Pirate Ship Type:</label>
    <input type="text" class="form-control" name="pirate[ships][][type]" id="ship_type_1">
  </div>

  <div class="form-group">
    <label for="ship_booty_1">Pirate Ship Booty:</label>
    <input type="text" class="form-control" name="pirate[ships][][booty]" id="ship_booty_1">
  </div>

  <div class="form-group">
    <label for="ship_name_2">Pirate Ship Name:</label>
    <input type="text" class="form-control" name="pirate[ships][][name]" id="ship_name_2">
  </div>

  <div class="form-group">
    <label for="ship_type_2">Pirate Ship Type:</label>
    <input type="text" class="form-control" name="pirate[ships][][type]" id="ship_type_2">
  </div>

  <div class="form-group">
    <label for="ship_booty_2">Pirate Ship Booty:</label>
    <input type="text" class="form-control" name="pirate[ships][][booty]" id="ship_booty_2">
  </div>

  <input type="submit" class="btn btn-primary" name="submit" value="Submit">
</form>