<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form method="post" action="/pirates">
      <h2>Your Pirate </h2>
      <p>Name: <input type="text" name=pirate[name]></p>
      <p>Weight: <input type="text" name=pirate[weight]></p>
      <p>Height: <input type="text" name=pirate[height]></p>

      <h2>Your Ships </h2>
      <h3>Ship One: </h3>
      <p>Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1"></p>
      <p>Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
      <p>Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>
      <h3>Ship Two: </h3>
      <p>Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
      <p>Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
      <p>Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
