<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>Pirates and Their Ships</title>
<h1>Welcome to the Pirate Lab, Mate</h1>
<a href="new">Click Here to Find a Pirate</a>
</head>

<body>
    <p> -->

<form method="POST" action= '/pirates'>
  <h2> Pirate</h2>

  <label for="pirate[name]">Pirate Name</label><br>
    <input type="text" id="pirate[name]" name="pirate[name]"/><br>

  <label for="pirate[weight]">Pirate Weight</label><br>
    <type="text" input id="pirate[weight]" name="pirate[weight]"/><br>

  <label for="pirate[height]">Pirate Height</label><br>
    <type="text" input id="pirate[height]" name="pirate[height]"/><br>



    <h2>Ship #1</h2>

      <label for="ship_1_name">Ship Name</label><br>
        <type="text" input id="ship_name_1" name="pirate[ships][][name]"/><br>


      <label for="ship_1_type">Ship Type</label><br>
        <type="text" input id="ship_type_1" name="pirate[ships][][type]"/><br>


      <label for="ship_1_booty">Ship Booty</label><br>
        <type="text" input id="ship_booty_1" name="pirate[ships][][booty]"/><br>



    <h2>Ship #2</h2>

      <label for="ship_2_name">Ship Name</label><br>
        <type="text" input id="ship_2_name" name="pirate[ships][][name]"/><br>


      <label for="ship_2_type">Ship Type</label><br>
        <type="text" input id="ship_2_type" name="pirate[ships][][type]"/><br>


      <label for="ship_2_booty">Ship Booty</label><br>
        <type="text" input id="ship_2_booty" name="pirate[ships][][booty]"/><br>


          <input type="submit" value="Submit">

        </p>

      </form>

  </body>

</html>
