<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>YAAARRRRR</title>
  </head>
  <body>
    <form method="POST" action="/pirates">
      <h4>Pirate name: <input type="text" name="pirate[name]"></h4>
      <h4>Pirate height: <input type="text" name="pirate[height]"></h4>
      <h4>Pirate weight: <input type="text" name="pirate[weight]"></h4>
      <br>
      <h4>Ship 1 name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></h4>
      <h4>Ship 1 type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></h4>
      <h4>Ship 1 booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></h4>
      <br>
      <h4>Ship 2 name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></h4>
      <h4>Ship 2 type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></h4>
      <h4>Ship 2 booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></h4>
      <input type="submit" id="Submit">
    </form>
  </body>
</html>
