<h1>Make your form here</h1>

<form action="/new" method="get">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
    <label for="ship_name_1">Ship_name_1</label>
  Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]">
    <label for="ship_type_1">Ship_type_1</label>
  Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]">
    <label for="ship_booty_1">Ship_booty_1</label>
  Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <input type="submit">
</form>
