<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pirate Generator</title>
</head>
<body>
<h1>Add New Pirate</h1>

<h3>Please enter your information below.</h3>
<p><form action="/pirates" method="post">
  PIRATE
  Pirate Name: <input type="text" id="pirate_name" name="pirate[name]">
  Pirate Weight: <input type="text" id="pirate_weight" name="pirate[weight]">
  Pirate Height: <input type="text" id="pirate_height" name="pirate[height]">

  SHIP 1
  Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  Ship Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  Ship Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  SHIP 2
  Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  Ship Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  Ship Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" id="Submit" value="submit">
</form></p>

</body>
</html>
