<h1>Make your form here</h1>

<form action = " /pirates" method = "post">
<label>Please Enter Pirate Name<label>
  Pirate Name: <input type = "text"
    name = "Pirate[name]">
<label>Please Enter Pirate Height<label>
  Pirate Height: <input type "text"
    name = "pirate[height]">
<label>Please Enter Pirate Weight<label>
  Pirate Weight: <input type "text"
    name = "Pirate[weight]"
<form action = " /pirates" method = "post">
<label>Please Enter Ship Name<label>
  Pirate Ship Name: <input type = "text"
    name = "pirate[ship][][name]">
<label>Please Enter Ship Type<label>
  Ship Type: <input type "text"
    name = "pirate[ship][][type]">
<label>Please Enter Ship Booty<label>
  Ship Booty: <input type "text"
    name = "pirate[ship][][booty]"
  <label>Please Enter Ship Name<label>
    Ship Name: <input type = "text"
      name = "pirate[ship][][name]">
  <label>Please Enter Ship Type<label>
    Ship Type: <input type "text"
      name = "pirate[ship][][type]">
  <label>Please Enter Ship Booty<label>
    Ship Booty: <input type "text"
      name = "pirate[ship][][booty]"
    <input type = "submit">
  </form>
