<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pirates" method="post">
      <label>Name: <input type="text" name="pirates[name]" value=""></label>
      <label>Wight: <input type="text" name="pirates[weight]" value=""></label>
      <label>Height: <input type="text" name="pirates[height]" value=""></label>
    </form>
  </body>
</html>
