<h1>ARRRR</h1>

<form method="post" action="/pirates">
Pirate Name: <input type:'text' id="pirate_name" name="pirate[name]"><br>
Pirate Weight: <input type:'text' id="pirate_weight" name="pirate[weight]"><br>
Pirate Height: <input type:'text' id="pirate_height" name="pirate[height]"><br>
Ship 1 name: <input type:'text' id="ship_name_1" name="pirate[ships][][name]"><br>
Ship 1 type: <input type:'text' id="ship_type_1" name="pirate[ships][][type]"><br>
Ship 1 booty: <input type:'text' id="ship_booty_1" name="pirate[ships][][booty]"><br>
Ship 2 name: <input type:'text' id="ship_name_2" name="pirate[ships][][name]"><br>
Ship 2 type: <input type:'text' id="ship_type_2" name="pirate[ships][][type]"><br>
Ship 2 booty: <input type:'text' id="ship_booty_2" name="pirate[ships][][booty]"><br>
<input type='submit' id="Submit">
</form>

