<h1>Watch out for those Pirates</h1>

<form method="POST" action="/pirates">
  <h3>Pirate</h3>
   <p><label for="name">Pirate Name: </label>
      <input type="text" name="pirate[name]"></p>
   <p><label for="weight">Pirate Weight: </label>
      <input type="text" name="pirate[weight]"></p>
   <p><label for="height">Pirate Height: </label>
      <input type="text" name="pirate[height]"></p>

   <h3>Ships</h3>
   <p><label for="height">Ship Name: </label>
      <input type="text" name="pirate[ships][][name]" id ="ship_name_1"></p>
   <p><label for="height">Ship Type: </label>
      <input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
   <p><label for="height">Ship Booty: </label>
      <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>

   <p><label for="height">Ship Name: </label>
      <input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
   <p><label for="height">Ship Type: </label>
      <input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
   <p><label for="height">Ship Booty: </label>
      <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>

   <input type="submit" value="Submit">
 </form>
