<h1>Enter Pirates</h1>

<form method="POST" action="/pirates">
  <p>Name: <input type="text" name="pirate[name]"></p>
  <p>Weight: <input type="text" name="pirate[weight]"></p>
  <p>Height: <input type="text" name="pirate[height]"></p>

<h2>Enter Ships</h2>  
  <p>Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
  <p>Type: <input id="ship_type_1"type="text" name="pirate[ships][][type]"></p>
  <p>Booty: <input id="ship_booty_1"type="text" name="pirate[ships][][booty]"></p>

  <p>Name: <input id="ship_name_2"type="text" name="pirate[ships][][name]"></p>
  <p>Type: <input id="ship_type_2"type="text" name="pirate[ships][][type]"></p>
  <p>Booty: <input id="ship_booty_2"type="text" name="pirate[ships][][booty]"></p>


  <p><input id="Submit" type="submit" value= "Submit"> </p>


</form>
