<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Pirates</title>
  <link rel="public/stylesheets" href="bootstrap.min.css">

</head>

<body>
  <h1>Make some pirates!</h1>
  <form action="/show" method="POST">
    <label>Pirate Name:</label> <input type="text" name="pirate[name]"><br>
    <label>Pirate Weight:</label> <input type="text" name="pirate[weight]"><br>
    <label>Pirate Height:</label> <input type="text" name="pirate[height]"><br>
    <label>Ship Name:</label> <input type="text" name="pirate[ships][][name]"><br>
    <label>Ship Type:</label> <input type="text" name="pirate[ships][][type]"><br>
    <label>Ship Booty:</label> <input type="text" name="pirate[ships][][booty]"><br>
    <label>Ship Name:</label> <input type="text" name="pirate[ships][][name]"><br>
    <label>Ship Type:</label> <input type="text" name="pirate[ships][][type]"><br>
    <label>Ship Booty:</label> <input type="text" name="pirate[ships][][booty]">
      <br>
      <br>
    
    <input type="submit" value="SUBMIT">


  </form>
</body>
</html>


