<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">


  Ship_1 Name : <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  Ship_1 Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  Ship_1 Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  Ship_2 Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  Ship_2 Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  Ship_2 Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">

    <input type="submit" name="Submit" value="Submit">
</form>
