<form method="post" action="/pirates">
  <h2>Pirate Details</h2>
  <p><label for="pirate_name">Name:</label>
  <input type="text" name="pirate[name]" id="pirate_name"/></p>
  <p><label for="weight">Weight:</label>
  <input type="text" name="pirate[weight]" id="weight"/></p>
  <p><label for="height">Height:</label>
  <input type="text" name="pirate[height]" id="height"/></p>

  <h2>Ship 1 Details</h2>
  <p><label for="ship_name_1">Name:</label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_1"/></p>
  <p><label for="ship_type_1">Type:</label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_1"/></p>
  <p><label for="ship_booty_1">Booty:</label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"/></p>

  <h2>Ship 2 Details</h2>
  <p><label for="ship_name_2">Name:</label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_2"/></p>
  <p><label for="ship_type_2">Type:</label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_2"/></p>
  <p><label for="ship_booty_2">Booty:</label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"/></p>

  <input type="submit" value="Submit" />

</form>
