<h1>Create Pirates & Ships</h1>

<form method="post" action="/pirates">
  <h2>Pirate: </h2>
    <label for="pirate_name">
      Pirate Name: <input type="text" name="pirate[name]" id="pirate_name">
    <label for="pirate_weight">
      Pirate Weight: <input type="text" name="pirate[weight]" id="pirate_weight">
    <label for="pirate_height">
      Pirate Height: <input type="text" name="pirate[height]" id="pirate_height">

  <h3>Ship 1: </h3>
    <label for="ship_name_1">
      Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
    <label for="ship_type_1">
      Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1">
    <label for="ship_booty_1">
      Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">

  <h3>Ship 2: </h3>
    <label for="ship_name_2">
      Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2">
    <label for="ship_type_2">
      Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2">
    <label for="ship_booty_2">
      Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  <p><button type="submit" id="submit">Submit</p>
</form>
