<h1>Make your form here</h1>
<h2>Give your pirate details, Matey</h2>
<form action="/pirates" method="post">
  <h4>Pirate Name: <input type="text" name="pirate[name]"></h4>
  <h4>Pirate Weight: <input type="integer" name="pirate[weight]"></h4>
  <h4>Pirate Height: <input type="integer" name="pirate[height]"></h4>
<h2>Tell us about your first ship</h2>
  <h4>Ship1 Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></h4>
  <h4>Ship1 Booty: <input id="ship_booty_1"type="text" name="pirate[ships][][booty]"></h4>
  <h4>Ship1 Type: <input id="ship_type_1"type="text" name="pirate[ships][][type]"></h4>
<h2>Tell us about your second ship</h2>
  <h4>Ship2 Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></h4>
  <h4>Ship2 Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></h4>
  <h4>Ship2 Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></h4>
  <h4><input type="submit" name="submit" value="Submit"></h4>
</form>
