<<<<<<< HEAD
<!DOCTYPE html>

=======

<!DOCTYPE html>
>>>>>>> 98e98848162fab66e5951bdc6c60a7f13fb8c220
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Pirates!</h1>

<<<<<<< HEAD
    <form method="POST" action="/pirates" id="form">
      Pirate Name: <input type="text" name="pirate[name]">
      Pirate Weight: <input type="text" name="pirate[weight]">
      Pirate Height: <input type="text" name="pirate[height]"><br>


      First Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]">
      First Ship Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]">
      First Ship Booty Type: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br><br>
      Second Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]">
      Second Ship Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]">
      Second Ship Booty Type: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
      <br><input type="submit" id="Submit"></input>
=======
    <form method="POST" action="pirates/show" id="form">
      Pirate Name: <input type="text" name="pirate[name]">
      Pirate Weight: <input type="text" name="pirate[weight]">
      Pirate Height: <input type="text" name="pirate[height]">

      Ship Name: <input type="text" name="pirate[ship][][name]">
      Ship Type: <input type="text" name="pirate[ship][][type]">
      Ship Booty: <input type="text" name="pirate[ship][][booty]">
      Ship Name: <input type="text" name="pirate[ship][][name]">
      Ship Type: <input type="text" name="pirate[ship][][type]">
      Ship Booty: <input type="text" name="pirate[ship][][booty]">
      <input type="submit" id="submit"></input>
>>>>>>> 98e98848162fab66e5951bdc6c60a7f13fb8c220
    </form>

  </body>
</html>
