<form class="new_matey" action="/pirates" method="post">
  <label>Pirate name:
    <input type="text" name="pirate[name]" id="pirate_name">
  </label>
  <label>Pirate weight:
    <input type="text" name="pirate[weight]" id="pirate_weight">
  </label>
  <label>Pirate height:
    <input type="text" name="pirate[height]" id="pirate_height">
  </label>
  <label>Ship name:
    <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  </label>
  <label>Ship type:
    <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  </label>
  <label>Ship booty:
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  </label>
  <label>Ship name:
    <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  </label>
  <label>Ship type:
    <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  </label>
  <label>Ship booty:
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  </label>
  <input type="submit" id="Submit">
</form>
