<h1>Display your Pirate here</h1>
  <p><%= @new_pirate.name %></p>
  <p><%= @new_pirate.weight %></p>
  <p><%= @new_pirate.height %></p>
<h2>Display your first ship here</h2>
  <% @ships.each do |ship| %>
  <%end%>




<h2>Display your second ship here</h2>
