<h1><%= "#{@pirate.name} stands #{@pirate.height} tall and weighs #{@pirate.weight}." %></h1>

<% @ships.each do |ship| %>
  <h2><%= ship.name %></h2>
  <h3>Type: <%= ship.type %>
  <h3>Booty: <%= ship.booty %>
<% end %>
