<h1>Display your Pirate here</h1>
<p>Pirate name:<%= @pirate.name%></p><br>
<p>Pirate weigth:<%= @pirate.weight%></p><br>
<p>Pirate height:<%= @pirate.height%></p><br><br>

<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
