<% @pirates.each do |key, val| %>
  <% if key != "ships" %>
    <h1><%= "#{key}: #{val}" %></h1>
  <% end %>
<% end %>

<% @pirates["ships"].each do |ship| %>
  <% ship.each do |key, val| %>
    <h2><%= "#{key}: #{val}" %></h2>
  <% end %>
<% end %>
