<h1>Display your Pirate here</h1>
Pirate Name: <%= @pirate.name %>
Pirate Weight: <%= @pirate.weight %>
Pirate Height: <%= @pirate.height %>

<!-- We don't need this file if we use `redirect to "/pirates/#{pirate.id}"` in our post '/pirates' method -->
