<h1>Display your Pirate here</h1>
<h2><%= "#{@nu_pirate.name}, #{@nu_pirate.weight}, #{@nu_pirate.height}." %></h2>

<h1>Display your first ship here</h1>
<h2><%= "#{@nu_ship1.name}, #{@nu_ship1.type}, #{@nu_ship1.booty}." %></h2>

<h1>Display your second ship here</h1>
<h2><%= "#{@nu_ship2.name}, #{@nu_ship2.type}, #{@nu_ship2.booty}." %></h2>