<h1>
  <%='Name: ' + @pirate.name.to_s + '; Weight: ' + @pirate.weight.to_s + '; Height ' + @pirate.height.to_s%>
</h1>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="course">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
<% end %>