<h1>pirate</h1>
<%= @pirate.name + @pirate.weight + @pirate.height %>

<h2>ships</h2>

<% @ships.each do |ship| %>
<p>name: <%= ship.name %></p>
<p>type: <%= ship.type %></p>
<p>type: <%= ship.booty %></p>
<% end %>


