<h1>Pirate</h1>
  <h2> <%= @pirate.name %></h2>
  <h2> <%= @pirate.height %></h2>
  <h2> <%= @pirate.weight %></h2>

<h2>Ship(s)</h2>
  <h3><% @ships.each do |ship| %> </h3>
  <h3><%= ship.name, ship.type, ship.booty_attributes %> </h3>
  <h3><% end %> </h3>


