<h1>Make a new Privateer</h1>

<form action='/privateers/show' method="POST">
  <h3>Hitting the submit button should take you to "privateers/show" </h3>
  <input type="submit" value="Submit">
</form>
