<h1>Make a new Privateer</h1>

<form action='/privateers' method="POST">
  <h3>Hitting the submit button should take you to "privateers/show" </h3>
  <label for="privateer_name">Name</label><br>
  <input id="privateer_name" type="text" name="privateer[name]" /><br>
  <label for="privateer_nationality">Nationality</label><br>
  <input id="privateer_nationality" type="text" name="privateer[nationality]" /><br>
  <input type="submit" value="Submit">
</form>
