<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <form method="POST" action="/pirates">
    <h1>Let's Create a Pirate and a Ship!</h1>
    <h2> Arggh! Are You Ready to Create a Pirate? </h2>
      <p> Pirate Name: <input type="text" name="pirate[name]"></p>
      <p> Pirate Weight: <input type="text" name="pirate[weight]"></p>
      <p> Pirate Height: <input type="text" name="pirate[height]"></p>

    <h2>Don't Forget - A Pirate Needs Two Ships!</h2>
      <p> Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
      <p> Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
      <p> Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>

      <p> Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
      <p> Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
      <p> Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
      <input type="submit" name="submit" id="Submit" value="submit">
    </form>
</body>
</html>
