<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome to the Nested Forms Lab!</h1>
        <a href = '/new'>let's navigate to the '/new' page to input our pirate and ship information</a>
    </body>
</html>