<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    Welcome to the Nested Forms Lab!
    <a href="/new">let's navigate to the '/new'</a>
  </body>
</html>
