<!DOCTYPE html>
<html>
  <head>
    <title>The Nested Forms Lab</title>
  </head>
  <body>
    <h1> Welcome to the Nested Forms Lab!</h1>
    <!-- <h3>Let's navigate to the '/new'</h3> -->
    <a href="/new">let's navigate to the '/new'</a>
  </body>
</html>
