<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h2>Welcome to the Nested Forms Lab!</h2>
    <p>let's navigate to the '/new'</p>
  </body>
</html>