<h1>The Official Pirate Creation and Record Keeping Service</h1>
<br>
<h4>Welcome to the Nested Forms Lab! let's navigate to the '/new'</h4>
<br>
<h2><a href="http://localhost:9393/new">Please click here to register a pirate with us.</a></h2>
