<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  Welcome to the Nested Forms Lab!
  <a href="/new">let's navigate to the '/new'</a>
</body>
</html>