<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates be Here, Arrr....</title>
  </head>
  <body>
   <h1>Pirates of Flatiron Seas...</h1>
    <form action="/new" method="get"> 
      <p>Welcome to the Nested Forms Lab!</p>
      <p>let's navigate to the '/new'</p>
      

      <input type="submit" > 

    
    </form>


  </body>
</html>
