<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nested Forms Lab</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1><br>
    <h2>"let's navigate to the '/new' Pirate page!"<a href="/new"> click here! </a></h2>
  </body>
</html>
