<!DOCTYPE html>
<html>
<head>
  <title>Yo Ho A Pirate's Life For Me!</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>