<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nested Form--Pirates</title>
    <style>body {width:90%; margin: 0 auto;}</style>
  </head>
  <body>
    <%= yield %>
    </form>  
  </body>
</html>