<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="container">
      <%= yield %>
  </div>
</body>
</html>
