<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ghar! You're about to embark on a mission with some scallywags!</h1>
    <p>Ye need a crew and the ships they have worked on in the past.</p>
    <p>... It be necessary to know if they can swab the deck and all.</p>
    <p>Would ye like to add a seadog to yer command?</p>
    <a href="/pirates/new">Yaarrr</a>
    <%= yield %>
  </body>
</html>
