<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <div style="margin:2em auto; text-align:center;">
    <title>Create Pirates & Ships</title>
  </head>
  <body>

    <%= yield %>

 </body>
</div>
</html>
