<%# <!doctype html> %>
<html>
  <head>
    <title>Pirates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <img src="https://images-na.ssl-images-amazon.com/images/I/41J1Tq0Ig0L._SL500_AC_SS350_.jpg">
      <br>

      <%= yield %>
      
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
```