<!DOCTYPE html>
<html>
  <head>
    <title>Pirate Lab</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <div class="container">
      <h1>Pirate Lab</h1>

      <%= yield %>

    </div>
  </body>
</html>
