<h1>Make Your Form Here</h1>
<form method="POST" action="/pirates">
  <input type="text" id="pirate_name" name="pirate[name]">
  <input type="text" id="pirate_weight" name="pirate[weight]">
  <input type="text" id="pirate_height" name="pirate[height]">

  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>
