<form action="/pirates" method="POST">
    <label for="POST-pirate[name]">Pirate Name:</label>
    <input type="text" name="pirate[name]">
  <br>
    <label for="POST-pirate[height]">Pirate Height:</label>
    <input type="text" name="pirate[height]">
  <br>
    <label for="POST-pirate[weight]">Pirate Weight:</label>
    <input type="text" name="pirate[weight]">
  <br>
  ----
  <br>
    <label for="POST-pirate[ships][][name]">Pirate Ships Name:</label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  <br>
    <label for="POST-pirate[ships][][type]">Pirate Ships Type:</label>
    <input id="ship_type_1" type="text" name="pirate[ships][][type]">
  <br>
    <label for="POST-pirate[ships][][booty]">Pirate Ships Booty:</label>
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <br>
  ----
  <br>
    <label for="POST-pirate[ships][][name]">Pirate Ships Name:</label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  <br>
    <label for="POST-pirate[ships][][type]">Pirate Ships Type:</label>
    <input id="ship_type_2" type="text" name="pirate[ships][][type]">
  <br>
    <label for="POST-pirate[ships][][booty]">Pirate Ships Booty:</label>
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
    <input type="submit" value="Submit">
</form>


