<h1>Make your form here</h1>
<form action="pirates" method="post">
  <label for ="Pirate Name"> Pirate Name: </label><input type="text" name="pirate[name]" id="pirate[name]">
  <label for ="Pirate Weight"> Pirate Weight: </label><input type="text" name="pirate[weight]" id="pirate[weight]">
  <label for ="Pirate Height"> Pirate Height: </label><input type="text" name="pirate[height]" id="pirate[height]">
  <label for ="Ship Name"> Ship Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_1">
  <label for ="Ship Type"> Ship Type: </label><input type="text" name="pirate[ships][][type]" id="ship_type_1">
  <label for ="Ship Booty"> Ship Booty: </label><input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  <label for ="Ship Name"> Ship Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_2">
  <label for ="Ship Type"> Ship Type: </label><input type="text" name="pirate[ships][][type]" id="ship_type_2">
  <label for ="Ship Booty"> Ship Booty: </label><input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  <input type="submit" id="Submit" name = "Submit">
</form>
