<h1>Pirates!</h1>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/pirates" method="post">
    <label for="pirate[name]">Pirate Name</label>
    <input type="text" name="pirate[name]" id="pirate[name]">
    <label for="pirate[weight]">Pirate Weight</label>
    <input type="text" name="pirate[weight]" id="pirate[weight]">
    <label for="pirate[height]">Pirate Height</label>
    <input type="text" name="pirate[height]" id="pirate[height]">
    <label for="ship_name_1">Ship Name 1:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1">
    <label for="ship_type_1">Ship Type 1:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1">
    <label for="ship_booty_1">Ship Booty 1:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
    <label for="ship_name_2">Ship Name 2:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2">
    <label for="ship_type_2">Ship Type 2:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2">
    <label for="ship_booty_2">Ship Booty 2:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
    <input type="submit" value="Submit" id="submit">
  </form>
</body>
</html>