<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>


<form action="/pirates" method="post">

  <h2>Pirate Name: <input type="text" name="pirate[name]"></h2>

  <h2>Pirate Height: <input type="text" name="pirate[height]"></h2>

  <h2>Pirate Weight: <input type="text" name="pirate[weight]"></h2>


  <h2>Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1"></h2>

  <h2>Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1"></h2>

  <h2>Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></h2>




  <h2>Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2"></h2>

  <h2>Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2"></h2>

  <h2>Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></h2>

  <input type="submit" id="Submit">
</form>
 </body>
</html>