<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <h1>let's navigate to the '/new'</h1>
    <form action="/pirates" method="post">
      <label>Pirate Name: <input type="text" name="pirate[name]"></label>
      <label>Pirate Weight: <input type="text" name="pirate[weight]"></label>
      <label>Pirate Height: <input type="text" name="pirate[height]"></label>
      <label>Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></label>
      <label>Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></label>
      <label>Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></label>
      <label>Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></label>
      <label>Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></label>
      <label>Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></label>
      <input id="Submit" type="submit" name="submit">

    </form>

  </body>
</html>
