<h1>Welcome to the Nested Forms Lab!</h1>
<form method='POST' action='/pirates'>	
	<label for="pirate_name">Pirate Name: </label>
	<input id="pirate_name" type="text" name="pirate[name]" ><br>
	
	<label for="pirate_weight">Pirate Weight: </label>
	<input id="pirate_weight" type="text" name="pirate[weight]" ><br>
	
	<label for="pirate_height">Pirate Height: </label>
	<input id="pirate_height" type="text" name="pirate[height]" ><br>	 
	
	<label for="ship_name_1">Ship Name - One: </label>
	<input id="ship_name_1" type="text" name="pirate[ships][][name]" ><br>

	<label for="ship_type_1">Ship Type - One: </label>
	<input id="ship_type_1" type="text" name="pirate[ships][][type]" ><br>

	<label for="ship_booty_1">Ship Booty - One: </label>
	<input id="ship_booty_1" type="text" name="pirate[ships][][booty]" ><br>	 
	
	<label for="ship_name_2">Ship Name - Two: </label>
	<input id="ship_name_2" type="text" name="pirate[ships][][name]" ><br>
	
	<label for="ship_type_2">Ship Type - Two: </label>
	<input id="ship_type_2" type="text" name="pirate[ships][][type]" ><br>
	
	<label for="ship_booty_2">Ship Booty - Two: </label>
	<input id="ship_booty_2" type="text" name="pirate[ships][][booty]" ><br><br>	 
	
	<input id="Submit" type="submit">
</form>
