<h1>Welcome to the Nested Forms Lab!</h1>
<h3>let's navigate to the '/new'</h3>
<br>
<form method="POST" action="/pirates">
  <p>Pirate Name&nbsp;<input type="text" name="pirate[name]" /></p>
  <p>Pirate Weight&nbsp;<input type="text" name="pirate[weight]" /></p>
  <p>Pirate height&nbsp;<input type="text" name="pirate[height]" /></p>
<br>Ship 1
  <p>Ship Name&nbsp;<input id="ship_name_1" type="text" name="pirate[ships][][name]" /></p>
  <p>Ship Type&nbsp;<input id="ship_type_1" type="text" name="pirate[ships][][type]" /></p>
  <p>Ship Booty&nbsp;<input id="ship_booty_1" type="text" name="pirate[ships][][booty]" /></p>
<br>Ship 2
  <p>Ship Name&nbsp;<input id="ship_name_2" type="text" name="pirate[ships][][name]" /></p>
  <p>Ship Type&nbsp;<input id="ship_type_2" type="text" name="pirate[ships][][type]" /></p>
  <p>Ship Booty&nbsp;<input id="ship_booty_2" type="text" name="pirate[ships][][booty]" /></p>
  <button type="submit" name="submit">Submit</button>
</form>
