<h1>Welcome to the Nested Forms Lab!</h1>
rom the README below:</p>

<ul>
  
  <li>In order to start the lab, let's navigate to the '/new' path. You'll currently have an empty <strong>erb</strong> file, so your job is to fill in the form. Make sure the RSpec tests pass.</li>
</ul>
