<!DOCTYPE html>
<html>
  <head>
    <title>Create a Pirate and Ships</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    Click <a href="/new">here</a> and let's let's navigate to the '/new' form.
  </body>
</html>
