<h1>Welcome to the Nested Forms Lab!</h1>

<p>This is a lab meant to test your understanding of nested forms and how they work. As a convenience, I've added the instructions from the README below:</p>

<ul>
  <li>Note: YOU DO NOT NEED A DATABASE, we just need to keep track of the forms input long enough to display it, not persist it.  I don't expect the pirate to be there the next time I come to their URL, but it'd be cool if they were.</li>

  <li>In order to start the lab, let's navigate to the '/new' path. You'll currently have an empty <strong>erb</strong> file, so your job is to fill in the form. Make sure the RSpec tests pass.</li>
</ul>