<!DOCTYPE html>
<head>
  <title>Aargh! Welcome Matey</title>
</head>
<body>
  <p>Welcome to the Nested Forms Lab!</p>
  <p>let's navigate to the '/new'</p>
  <p>Click <a href="/new">right here</a> to begin yer voyage</p>
</body>
</html>

