<!DOCTYPE html>
<html>
<head>
  <title>Pirates Nested Forms Lab</title>
</head>
<body>
    <h1>Welcome to the Nested Forms Lab!</h1>

    <br>
    <br>
    <br>

    <h2><a href="/new">let's navigate to the '/new'</h2>


</body>
</html>