<!DOCTYPE html>
<html>
<head>
  <title>Pirate Ship Form</title>
</head>
<body>

<h1>Pirate Ship Form</h1>

<form action="/pirates" method="post">
  <h2><p><label>Pirate Name: </label>
  <input id="pirate_name" type="text" name="pirate[name]"></p></h2>
  <h2><p><label>Pirate Weight: </label>
  <input id="pirate_weight" type="text" name="pirate[weight]"></p></h2>
  <h2><p><label>Pirate Height: </label>
  <input id="pirate_height" type="text" name="pirate[height]"></p></h2>
  <br>
<!--   <h2><p><label>Ship1 Name: </label>
  <input id="ship_name_1" type="text" name="pirate[ship_name_1][][name]"></p></h2>

  <h2><p><label>Ship1 Type: </label>
  <input id="ship_type_1" type="text" name="pirate[ship_name_1][][type]"></p></h2>

  <h2><p><label>Ship1 Booty: </label>
  <input id="ship_booty_1" type="text" name="pirate[ship_name_1][][booty]"></p></h2>

  <br> 
  <h2><p><label>Ship2 Name: </label>
  <input id="ship_name_2" type="text" name="pirate[ship_name_2][][name]"></p></h2>
  <h2><p><label>Ship2 Type: </label>
  <input id="ship_type_2" type="text" name="pirate[ship_name_2][][type]"></p></h2>
  <h2><p><label>Ship2 Booty: </label>
  <input id="ship_booty_2" type="text" name="pirate[ship_name_2][][booty]"></p></h2>
  <br> -->
  <label>SUBMIT<button id="Submit"></label>
</form>

 
</body>
</html>