<title>New Pirate Yay!</title>
<h1>New Pirate Page</h1>

<form action="/pirates" method="POST">
  <label for="pirate_name">Name</label>
  <input type="text" id="pirate_name" name="pirate[name]"></input>
    <br><br>
  <label for="pirate_height">Height</label>
  <input type="text" id="pirate_height" name="pirate[height]"></input>
    <br><br>
  <label for="pirate_weight">Weight</label>
  <input type="text" id="pirate_weight" name="pirate[weight]"></input>
    <br><br>
  <input type="submit" value="Submit">
</form>
